{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<p>This is the shop</p>

{% for item in items %}
	<div class="w3-container">
		<h1><a href="{% url 'item_detail' pk=item.pk %}"> {{ item.listing_name }} </a></h1>
		<p> ${{ item.price }} </p>
		<p> {{ item.created_on }} </p>
		<p> Season: {{ item.season }}</p>	
		<form method="post" action="{% url 'add_to_cart' item.id %}">
			{% csrf_token %}

			<button type="submit" class="cart btn">Add to cart</button>
		</form>
			
	</div>
{% endfor %}

{% endblock %}
